.action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 9.4rem 0rem 4.23rem 14rem;
}

.action > textarea {
    width: 100%;
    height: 50%;
    font-size: 1.88rem;
    font-weight: 400;
    border: none;
    background-color: #F3F5FC;
    color: #0A3871;
    padding: 10px;
}
.action > textarea::placeholder{
    color: #0A3871;
}
.action > textarea:focus-visible{
    outline: none;
}

.Descript{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;

}
.alert{
    position: absolute;
    margin-left: 0.7rem;
    text-align: center;
    align-items: center;
    color: #495057;
}